<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.cover{background-position:50% 80%;width:100%;background:url('/img/cover.png') fixed;height:300px;}
#navi{box-shadow:0 0 25px rgba(0,0,0,0.3}
#theFoot{color:white;background-color:black;padding:20px 0px 20px 0px
}

</style>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KP2KP Tomohon</title>
  </head>
  <body>
    <nav id='navi' class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">KP2KP Tomohon</a>
  <i class="fa fa-commenting" style="font-size:24px;float:right"></i>
  </button>

  
</nav>

<div class='cover'>

</div>
    <div class='container'>
      <br>
<iframe width="100%" height="300" src="https://www.youtube.com/embed/K3kvEvRhU7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      <h2>Selamat Datang di Website KP2KP Tomohon</h2>
<p>KP2KP Tomohon akan memberikan pelayanan terbaik kepada Wajib Pajak. Website ini dibuat sebagai 
salah satu bentuk pelayanan kepada Wajib Pajak. Dengan menggunakan website KP2KP Tomohon ini, diharapkan 
Wajib Pajak bisa lebih mudah untuk menghubungi KP2KP Tomohon.</p>   
</div>

<center>
<h2>Sosial Media</h2>
<a href='#'>Facebook</a> | 
<a href='#'>Youtube</a> | 
<a href='#'>Instagram</a>
</center>
<div id="theFoot">
<center>
©2020 KP2KP Tomohon
</center>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
